extends layout

block content
  main.main

    form(method="POST", action="/score").quiz
      each item, index in data.results
        section(id=index).question
          p.question__number Question #{index + 1} / #{data.results.length}
          p.question__text #{item.question}

          fieldset.question__group
            input(type="radio", name=index, id="q"+(index +1)+"a"+0, value="c").question__radio
            label(for="q"+(index +1)+"a"+0).question__label #{item.correct_answer}
            each radio, radioIndex in item.incorrect_answers
              input(type="radio", name=index, id="q"+(index +1)+"a"+(radioIndex +1), value="i").question__radio
              label(for="q"+(index +1)+"a"+(radioIndex +1)).question__label #{radio}

        hr.question__line
      button(type="submit").quiz__button Send Answers!
